* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: sans-serif;
    box-sizing: border-box;
  }

html {
    height: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header {
    flex: 0 50px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 30px 30px;
  }

  header div {
    padding: 10px;
  }

  #seperator{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2b2b2b;
    margin-bottom: 10px;
}


  li {
    display: inline;
  }

  li a.button {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    padding: 15px 25px;
    top: 50%;
    border-radius: 25px;
    margin-right: 15px;
  }
  
  main {
    flex: 1;
    font-size: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
  }
  
  footer {
    flex: 0 50px;
    padding: 20px 0 10px 0;
    background: hsl(0, 0%, 14%);
    color: white;
    text-decoration:solid;
    text-transform: uppercase;
    font-size: 15px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #info-block {
    height: 100%;
    padding: 50px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow);
  }

  #info-block h1 {
    color: white;
    justify-content: center;
  }
  
  #missionary-info {
    display:flex;
    justify-content: center;
    height: 100%;
    margin: 25px;
  }
  .future-missionaries {
    background-color: rgb(219, 218, 218);
    font-size: 20px;
    text-align: center;
    padding: 8px;
    margin: 25px;
    border-radius: 25px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  .returned-missionaries {
    background-color: rgb(219, 218, 218);
    font-size: 20px;
    padding: 8px;
    margin: 25px;
    text-align:center;
    border-radius: 25px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  form {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 25px;
    width: 55%;
    background-color: #232323;
    box-shadow: #2b2b2b;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    padding: 10px 10px 10px 10px;
  }

  select {
    text-align: center;
    font-size:20px;
    width:30%;
    padding:5px;
    border-radius:5px;
    border: 1px;;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:30px;
  }

  input[type="radio"] {
    display:inline;
  }

  form label {
    text-transform: uppercase;
    padding: 5px;
    color: white;
  }

  input {
    text-align: center;
    font-size:20px;
    width:30%;
    padding:5px;
    border-radius:5px;
    border: 1px;;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:30px;
  }

  button {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    box-shadow: none;
    padding: 15px 25px;
    top: 50%;
    border-radius: 25px;
    margin-right: 15px;
  }

  .about-header {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    
    background-color: #F15A29;
    padding: 15px;
  }

  .about {
    align-items: center;
    text-align: center;
  }

  .about p {
    font-size: 20px;
    padding: 0% 25%;
  }

  .missionary-card-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .missionary-card {
    margin: 10px;
    background-color: rgb(204, 206, 207);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
  }

  .account-info {
    margin: 10px;
    background-color: rgb(204, 206, 207);
    padding: 20px;
    text-align: center;
    padding: 5px;
    border-radius:25px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  .account-info h2 {
    padding: 5px 10px;
  }

/*   
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }


  footer {
    flex: 0 30px;
    text-decoration:solid;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    padding: 20px 0 10px 0;
    background: hsl(0, 0%, 14%);
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  section h2 {
    color: black;
  }
  

  li a.button {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    padding: 15px 25px;
    top: 50%;
    border-radius: 25px;
    margin-right: 20px;
  }



  section:nth-child(1) {
    flex: 1;
    background-color: hsl(180, 10%, 80%);
  }
  section:nth-child(2) {
    flex: 3;
    background-color: white;
  }
  
  @media (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-height: 700px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }

  header {
    height: 80px;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px 30px;
  }

li a.button {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    padding: 15px 25px;
    top: 50%;
    border-radius: 25px;
    margin-right: 20px;
  }
   */