* {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 35px;
    color: yellow;
}

h3 { 
    font-size: 20px;
    color: darkslategray;
}

h6 { 
    font-size: 15px;
    color: black;
}